header {
  background-color: #ffccee;
}

footer {
  background-color: #ffa07a;
}

.random-word {
  background-color: #ffccee;
}

#cel-1-1 {
  background-color: #1d1c2b;
}

#cel-1-3 {
  background-color: #1e2582;
}

#cel-2-1 {
  background-color: #746f51;
}

#cel-2-3 {
  background-color: #6b255c;
}

#cel-3-1 {
  background-color: #4e7b96;
}

#cel-3-3 {
  background-color: #21181d;
}

#cel-4-1 {
  background-color: #386866;
}
